<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type="text/javascript" src="/javascripts/main.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>
<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

  </head>

  <body>
   
  <header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">Graffiti Capture</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand"  title="">
            <img class="img-responsive site-logo" alt="" src="./images/icon.jpg">
            Graffiti Capture
          </a>
        <p>Sharing the amazing graffiti you met on the road.</p>
      </div>
      <ul class="nav">
        <li><a href="./" title="">Home</a></li>
        <li><a href="./signin" title="">Account</a></li>
        <li><a href="./service" title="">Services</a></li>
        <li><a href="./checklist" title="">Checklist</a></li>

      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="#" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="#" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Graffiti | Website created by Kaijie </p>
      </nav>  
    </div> 
  </nav>
</header>


<main class="" id="main-collapse">

 
<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/1.jpg">
      <a href="/home/about01" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>01</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/2.jpg">
      <a href="/home/about02" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>02</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
	
    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/3.jpg">
      <a href="/home/about03" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>03</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/4.jpg">
      <a href="/home/about04" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>04</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/5.jpg">
      <a href="/home/about05" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>05</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/6.jpg">
      <a href="/home/about06" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>06</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
     <div class="grid-item">
      <img class="img-responsive" alt="" src="./images/7.jpg">
      <a href="/home/about07" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>07</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    
  </div>
</div>

</main>
  </body>
</html>
